.zap {
  position: fixed;
  bottom: 20px;
  right: 20px;
  border: none;
  width: 70px;
  height: 70px;
  font-size: 20px;
  cursor: pointer;
}

.zap__content {
  display: flex;
  justify-content: right;
}
